.blogsGridContainer {
  background-color: white;
}

.blogsGridWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 28px;
  margin-right: 0;
  padding: 12px 24px;
}

.blogsGridWrapper a {
  text-decoration: none;
  color: inherit;
}

.blogFilterWrapper {
  display: flex;
  gap: 32px;
  align-items: center;
  position: sticky;
  top: 75px;

  background-color: white;
  padding: 24px 0;
}
