.headerWrapper {
  --shadow-color: 0deg 0% 63%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c9e4f5;
  height: 75px;
  padding: 0 28px;
  color: hsl(222deg, 22%, 5%);
  position: sticky;
  top: 0;
}

.headerWrapper a {
  text-decoration: none;
  color: inherit;
}
