.blogAuthorImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: hsl(245deg, 100%, 60%);
  font-size: 2rem;
  font-weight: 600;
  color: white;
}
