.mostViewedWrapper {
  align-self: start;
  max-width: 250px;
  position: sticky;
  top: 75px;

  margin-top: 200px;
  padding: 48px 24px;
}

.mostViewedWrapper h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  word-spacing: 10%;
  color: hsl(333deg, 100%, 45%);
  font-weight: 400;
}

.mostViewedWrapper p {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 600;
}

.mostViewedWrapper a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
